.page__container {
    max-width: 100%;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 120px;
}
.inner__page-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    height: 100%;
}
.panel__link {
    margin-left: 20px;
    font-family: var(--font-plex);
    font-size: 12px;
}
.catalog {
    margin-right: 20px;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.right {
    height: 100%;
}

.slider-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slide {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide__img {
  max-width: 100%;
  height: auto;
}
.prevBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    background-color: transparent;
    left: 10px;
}
.nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    background-color: transparent;
    right: 10px;
}

.page__title {
    font-family: var(--font-plex);
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}
.page__price-item {
    display: flex;
    align-items: center;
}
.page__price {
    font-family: var(--font-plex);
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
}
.price__span {
    font-family: var(--font-plex);
    font-size: 20px;
    font-weight: 500;
    margin-left: 4px;
}

.hidden__block {
    margin-top: 20px;
    height: 100%;
}
.descr {
    font-family: var(--font-plex);
    font-size: 14px;
    line-height: 16px;
}
.descr__faat {
    font-weight: 500;
    font-size: 20px;
    border-bottom: 1px solid #121113;
}

.order__btn {
    border: none;
    background-color: #121113;
    border-radius: 8px;
    color: #fff;
    font-family: var(--font-plex);
    font-size: 14px;
    font-weight: 400;
    width: 200px;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
}



.main__container-config {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.config {
    font-family: var(--font-plex);
    font-size: 14px;
    color: #121113;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.back__home {
    font-family: var(--font-plex);
    font-size: 14px;
    color: #121113;
    font-weight: 400;
    text-transform: uppercase;
}


@media screen and (max-width: 940px) {
    .inner__page-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        gap: 20px;
    }
    .page__container {
        margin-top: 130px;
    }
}